@{
    Layout = null;
    var request_token = antiforgery.GetAndStoreTokens(Context).RequestToken;
    var path = Functions.wwwroot;

    string full_name = "";
    string role_name = "";
    string user_name = "";
    string user_uid = "";

    if (User.Identity.IsAuthenticated)
    {
        full_name = User.Claims.FirstOrDefault(i => i.Type == ClaimHelper.FullName).Value;
        user_name = User.Claims.FirstOrDefault(i => i.Type == ClaimHelper.UserName).Value;
        role_name = User.Claims.FirstOrDefault(i => i.Type == ClaimHelper.RoleName).Value;
        var auth_id = User.Claims.FirstOrDefault(i => i.Type == ClaimHelper.AuthID).Value;
        if (!string.IsNullOrEmpty(auth_id))
            user_uid = auth_id.Split(".")[1];
    }
    var menu = Html.Raw(Functions.ReadFromFile(Functions.UserLayoutMenuDir, $"{user_uid}.txt"));

    var env = Environment.GetEnvironmentVariable("ASPNETCORE_ENVIRONMENT");
}

<!DOCTYPE html>
<html lang="tr">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] | SAID YUNUS</title>


    <link rel="icon" type="image/x-icon" href="~/theme/src/assets/img/favicon.ico" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">


    <link href="~/theme/layouts/modern-light-menu/css/light/loader.css" rel="stylesheet" />
    <link href="~/theme/layouts/modern-light-menu/css/dark/loader.css" rel="stylesheet" />
    <script src="~/theme/layouts/modern-light-menu/loader.js"></script>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="~/theme/src/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/theme/layouts/modern-light-menu/css/light/plugins.css" rel="stylesheet" />
    <link href="~/theme/layouts/modern-light-menu/css/dark/plugins.css" rel="stylesheet" />

    <link href="~/theme/src/assets/css/light/components/modal.css" rel="stylesheet" type="text/css" />
    <link href="~/theme/src/assets/css/dark/components/modal.css" rel="stylesheet" type="text/css" />

    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM STYLES -->
    <!-- END PAGE LEVEL PLUGINS/CUSTOM STYLES -->
    <!-- /global stylesheets -->
    <!-- ******************* External Css  ******************* -->
    <!-- ICONS -->

    <link href="~/files/icons/fontawesome/styles.min.css" rel="stylesheet" />
    <link href="~/files/icons/icomoon/styles.min.css" rel="stylesheet" />
    <link href="~/files/icons/material/styles.min.css" rel="stylesheet" />
    <!-- ICONS -->

    <link href="~/lib/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <link href="~/lib/toastr.js/toastr.min.css" rel="stylesheet" />

    <!-- DATATABLE -->
    <link href="~/js/DataTables/DataTables-1.13.4/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/js/DataTables/Buttons-2.3.6/css/buttons.dataTables.min.css" rel="stylesheet" />
    <link href="~/js/DataTables/Responsive-2.4.1/css/responsive.dataTables.min.css" rel="stylesheet" />
    <!-- DATATABLE -->
    <!-- /global stylesheets -->


    <link href="~/css/site.css" rel="stylesheet" />

    @await RenderSectionAsync("Head", required: false)

</head>
<body>

    <!-- BEGIN LOADER -->
    <div id="load_screen">
        <div class="loader">
            <div class="loader-content">
                <div class="spinner-grow align-self-center"></div>
            </div>
        </div>
    </div>
    <!--  END LOADER -->
    <!--  BEGIN NAVBAR  -->
    <div class="header-container container-xxl">
        <header class="header navbar navbar-expand-sm expand-header">

            <a href="javascript:void(0);" class="sidebarCollapse">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>
            </a>

            <ul class="navbar-item flex-row ms-lg-auto ms-0">



                <li class="nav-item theme-toggle-item">
                    <a href="javascript:void(0);" class="nav-link theme-toggle">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-moon dark-mode"><path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path></svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-sun light-mode"><circle cx="12" cy="12" r="5"></circle><line x1="12" y1="1" x2="12" y2="3"></line><line x1="12" y1="21" x2="12" y2="23"></line><line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line><line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line><line x1="1" y1="12" x2="3" y2="12"></line><line x1="21" y1="12" x2="23" y2="12"></line><line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line><line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line></svg>
                    </a>
                </li>

                <li class="nav-item dropdown user-profile-dropdown  order-lg-0 order-1">
                    <a href="javascript:void(0);" class="nav-link dropdown-toggle user" id="userProfileDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div class="avatar-container">
                            <div class="avatar avatar-sm avatar-indicators avatar-online">
                                <img alt="avatar" src="~/theme/src/assets/img/user2.png" class="rounded-circle">
                            </div>
                        </div>
                    </a>

                    <div class="dropdown-menu position-absolute" aria-labelledby="userProfileDropdown">
                        <div class="user-profile-section">
                            <div class="media mx-auto">
                                <div class="emoji me-2">
                                    &#x1F44B;
                                </div>
                                <div class="media-body">
                                    <h5>@user_name</h5>
                                    <p>@role_name</p>
                                </div>
                            </div>
                        </div>
                        <div class="dropdown-item">
                            <a href="/profile/index">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg> <span>Profil</span>
                            </a>
                        </div>
                        <div class="dropdown-item">
                            <a href="javascript:void(0);" id="logout-id">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-log-out"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path><polyline points="16 17 21 12 16 7"></polyline><line x1="21" y1="12" x2="9" y2="12"></line></svg> <span>Çıkış</span>
                            </a>
                        </div>
                    </div>

                </li>
            </ul>
        </header>
    </div>
    <!--  END NAVBAR  -->
    <!--  BEGIN MAIN CONTAINER  -->
    <div class="main-container" id="container">


        <div class="overlay"></div>
        <div class="search-overlay"></div>

        <!--  BEGIN SIDEBAR  -->
        <div class="sidebar-wrapper sidebar-theme">

            <nav id="sidebar">

                <div class="navbar-nav theme-brand flex-row  text-center">
                    <div class="nav-logo">
                        <div class="nav-item theme-logo">
                            <a href="/Admin/Index">
                                <img src="~/theme/src/assets/img/logo.svg" class="navbar-logo" alt="logo">
                            </a>
                        </div>
                        <div class="nav-item theme-text">
                            <a href="/Admin/Index" class="nav-link"> BÜTÇE </a>
                        </div>
                    </div>
                    <div class="nav-item sidebar-toggle">
                        <div class="btn-toggle sidebarCollapse">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevrons-left"><polyline points="11 17 6 12 11 7"></polyline><polyline points="18 17 13 12 18 7"></polyline></svg>
                        </div>
                    </div>
                </div>

                <div class="profile-info">
                    <div class="user-info">
                        <div class="profile-img">
                            <img src="~/theme/src/assets/img/user2.png" alt="avatar">
                        </div>
                        <div class="profile-content">
                            <h6>@full_name</h6>
                            <p class="">@role_name</p>
                        </div>
                    </div>
                </div>

                <div class="shadow-bottom"></div>
                <ul class="list-unstyled menu-categories" id="accordionExample">
                    @menu
                </ul>
            </nav>
        </div>
        <!--  END SIDEBAR  -->
        <!--  BEGIN CONTENT AREA  -->
        <div id="content" class="main-content">
            <div class="layout-px-spacing">

                <div class="middle-content container-xxl p-0">

                    <div class="row layout-top-spacing">
                        <!-- Page header Breadcrumb-->
                        <div class="page-header page-header-light">
                            <div class="breadcrumb-line breadcrumb-line-light header-elements-lg-inline">
                                <div class="d-flex">
                                    <div class="breadcrumb">
                                    </div>
                                    <a href="#" class="header-elements-toggle text-body d-lg-none"><i class="icon-more"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- /page header Breadcrumb -->
                        @RenderBody()
                    </div>

                </div>

            </div>
        </div>
        <!--  END CONTENT AREA  -->

    </div>




    <!-- END MAIN CONTAINER -->
    <script type="text/javascript">
        const VerifyToken = "@request_token";
    </script>
    <!-- START GLOBAL MANDATORY SCRIPTS -->
    <script src="~/theme/src/plugins/src/jquery/jquery.min.js" defer></script>
    <script src="~/theme/src/bootstrap/js/bootstrap.bundle.min.js" defer></script>
    <script src="~/theme/src/plugins/src/perfect-scrollbar/perfect-scrollbar.min.js" defer></script>
    <script src="~/theme/src/plugins/src/waves/waves.min.js" defer></script>
    <script src="~/theme/layouts/modern-light-menu/app.js" defer></script>
    <!-- END GLOBAL MANDATORY SCRIPTS -->
    <!-- /global js lib -->
    <script src="~/lib/axios/axios.min.js" defer></script>
    @if (env == "Production")
    {
        <script src="~/lib/vue/vue.global.prod.js" defer></script>
    }
    else
    {        
        <script src="~/lib/vue/vue.global.min.js" defer></script>

    }

    <script src="~/lib/moment.js/moment.min.js" defer></script>
    <script src="~/lib/jquery.blockUI/jquery.blockUI.min.js" defer></script>
    <script src="~/lib/toastr.js/toastr.min.js" defer></script>
    <script src="~/lib/sweetalert2/sweetalert2.all.min.js" defer></script>
    <script src="~/lib/microsoft-signalr/signalr.min.js" defer></script>

    <!-- DATATABLE -->

    <script src="~/js/DataTables/DataTables-1.13.4/js/jquery.dataTables.min.js" defer></script>
    <script src="~/js/DataTables/JSZip-2.5.0/jszip.min.js" defer></script>
    <script src="~/js/DataTables/pdfmake-0.2.7/pdfmake.min.js" defer></script>
    <script src="~/js/DataTables/pdfmake-0.2.7/vfs_fonts.js" defer></script>
    <script src="~/js/DataTables/Buttons-2.3.6/js/dataTables.buttons.min.js" defer></script>
    <script src="~/js/DataTables/Buttons-2.3.6/js/buttons.colVis.min.js" defer></script>
    <script src="~/js/DataTables/Buttons-2.3.6/js/buttons.html5.min.js" defer></script>
    <script src="~/js/DataTables/Buttons-2.3.6/js/buttons.print.min.js" defer></script>
    <script src="~/js/DataTables/Responsive-2.4.1/js/dataTables.responsive.min.js" defer></script>
    <!-- DATATABLE -->


    <script type="module" defer>
        // sayfalardaki otomatik olarak tetiklenen bazı işlemleri

        import { BreadCrumb, ActivedLiElement, HideIgnoredSections } from '/views-js/shared/site.js';

        BreadCrumb();
        ActivedLiElement();
        HideIgnoredSections();

    </script>
    <script src="~/views-js/account/logout.js" type="module" defer></script>
    <!-- / gereksiz eventleri yada default olarak tarayıcı tarafından dinleme yapılan evenleri kapat -->
    <!--<script src="~/js/default-passive-events.js"></script>-->    

    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>

